.navbar{
  text-align: center;
  width: 100%;
  font-size: 50px;
  color: rgb(79, 80, 74);
  background-color: rgb(206 226 232);
  height: 100px;
  margin-bottom: 10px;
  margin-top: 0px;
}
 
.addInputbtn{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 500px;
  height: 30px;
}
 

 
 

.listcontainer{
  height: 600px;
  width: 90%;
  overflow: scroll;
 margin: 20px ;
  border: 3px solid rgb(124, 123, 123);
  border-radius: 7px;
}

.mainList{
  display: flex;
  flex-wrap: wrap;
   border: 2px outset rgb(197, 215, 235);
   padding: 4px;
}

.childList{
  flex: 80%;
}
.btnList{
  flex: 10%;
}



